body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover; 
    font-family: 'Mochiy Pop P One', 'sans-serif';
}
body::before {
    content: ''; 
    background: rgba(0 0 0 / 88%);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: -1;
}
h1 {
    margin: 30px 0; 
    font-size: 3em;
}

.flag-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    widtH: 600px;  
}
@media (max-width: 768px) {
    .flag-quiz {
        width: 100%;
    }
}
.flag-quiz img {
    display: block;
    max-width: 400px;
    height: 250px;  
    border: 1px solid #fff;
    border-radius: 7px;
}
@media (max-width: 768px) {
    .flag-quiz img {
        width: 100%;
    }
}
.flag-quiz .generate i {
    margin-left: 8px; 
}
.flag-quiz .choices {
    display: none;
    width: 100%;
    grid-gap: 15px;
}
.flag-quiz .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; 
}
.flag-quiz .choices .choice,
.flag-quiz .generate,
.flag-quiz .controls .end { 
    padding: 15px;
    cursor: pointer;
    border: 1px solid #fff; 
    border-radius: 10px;
    background: #000;
    color: #fff; 
}
.flag-quiz .generate,
.flag-quiz .controls .end {
    cursor: wait;
    padding: 10px 25px;
    user-select: none;
    transition: .4s; 
}
.flag-quiz .controls .end {
    display: none;
    cursor: pointer;
}
.flag-quiz .controls .end.view {
    display: block;
}
.flag-quiz .choices .choice.unset {
    transition: .4s;
}
.flag-quiz .choices .choice.unset:hover,
.flag-quiz .generate.unset:hover,
.flag-quiz .controls .end:hover {
    background: rgba(255 255 255 / 65%);
    color: #000;
}

.flag-quiz .choices.view {
    display: grid;
}
.flag-quiz .choices .choice.true {
    background: #32f432;
    color: #000; 
}
.flag-quiz .choices .choice.false {
    background: #ff4646;
    color: #000;
}

* {
  
}
.outer {
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
  position: relative;
}
.outer::before {
  content: '';
  height:  100%;
  width: 60%;
  border: 3px solid #fff;
  border-radius: 500px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  animation: roll .7s ease-in-out infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}


@keyframes roll {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
  
}

